main, head, body, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
    background-color: #363636;
}

main, header {
	background-color: #fff;
}

/*#container {
	display: flex;
 	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1;
}*/

header {
    padding-bottom: 2%;
	padding-top: 2%;
	background-color: #fff;
}

header img {
    margin: 0 auto;
	max-width: 60%;
	display: block;
}

main {
	margin: 0 auto;
	padding: 2%;
	font-size: 1.15em; 
}

#bodBudj {
	text-align: center;
}

#bodBudj img {
	padding: 0 5%;
	max-width: 15%;
}

#bodBudj img {
	padding: 0 5%;
	max-width: 15%;
}

input[type="radio"]{
  margin: 0 3% 4% 3%;
}

#form {
	margin-top: 2%;
	padding: 2%;
}

.loginPage {
	display: block;
	margin: 2% 20%;
}

fieldset {
	margin-bottom: 2%;
	background-color: #f5f5f5;
}

label {
	display: block;
	padding-top: 3%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

nav {
	width: 100%;
}

nav ul {
	list-style-type: none;
	text-align: center;
	padding-left: 0; /* Do not remove! Idk why, but doesn't work without this */
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
}

nav li {
	margin: 5% auto;
}

nav li a {
	font-size: 1.5em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
	color: #f5f5f5;
	font-size: 1.5em;
}

#submit {
	margin: 0 auto;
	display: block;
	padding: 1% 2%;
	background-color: #296DAC;
	color: #F5F5F5;
	font-size: 1.5em;
}

.btn {
	border-radius: 12px;
	margin: 0 auto;
	padding: 1% 2%;
	background-color: #296DAC;
	color: #F5F5F5;
	font-size: 1.5em;
}

#mad {
	background-color: #FF6E6E;
	color: #000;
}

#scared {
	background-color: #FFB265;
	color: #000;
}

#joyful {
	background-color: #FFFF8C;
	color: #000;
}

#powerful {
	background-color: #80FF80;
	color: #000;
}

#peaceful {
	background-color: #6565FF;
	color: #F5F5F5;
}

#sad {
	background-color: #FF80FF;
	color: #000;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

footer {
	background-color: #363636;
	width: 100%;
}

/*#lowSpace {
	position: absolute;
	bottom: 0;
}*/

footer p {
	color: #F5F5F5;
	font-size: 0.8em;
	text-align: center;
	padding: 3%;
}

#buttonSelect h2 {
	text-align: center;
	padding: 0 0 4% 0;
}

#buttonSelect .btn {
	display: block;
	min-width: 320px;
	margin: 2% auto;
	border: solid #000;
	border-width: medium;
	font-weight: bold;
}

#resultsPage {
	text-align: center;
}

#resultsTemp img {
	display: block;
	margin: 3% auto;
}

#submission {
	display: block;
	padding: 2%;
}

#submission #submit {
	background-color: #C8FFC8;
	color: #000;
	border-width: medium;
	border: solid #000;
	margin-bottom: 2%;
	font-weight: bold;
	padding: 2% 4%;
}

#startOver {
	background-color: #FFBEBE;
	color: #000;
	border-width: medium;
	border: solid #000;
	font-weight: bold;
	padding: 2%;
}

#submitPage {
	text-align: center;
}

#ourHelp .btn {
	display: block;
	margin: 2% auto;
}

#ourHelp .btn {
	display: block;
	margin: 2% auto;
	min-width: 50%;
	background-color: #baa6cd;
	color: #2A2A2A;
	font-weight: bold;
}

#logOut {
	margin: 0 auto;
	min-width: 50%;
	font-weight: bold;
	background-color: #baa6cd;
	color: #2A2A2A;
}

/* Tablet Viewport */
@media screen and (min-width: 600px) {

	header {
		width: 100%;
		min-height: 200px;
	}

	header img {
		/*float: left;*/
		max-height: 200px;
	}

	nav {
		background-color: #363636;
		margin: auto auto;
	}

	nav ul {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 10px;
	}

	nav li {
		border-bottom: none;
		padding: auto auto;
	}

	nav li a:hover {
		text-decoration: underline;
	}

	.loginPage {
		display: block;
		margin: 2% 15%;
	}

	main {
		min-height: 0px;
	}
	
	#bodBudj img {
		max-width: 35%;
	}

	h2 {
		font-size: 1.5em;
	}
	
	#buttonSelect .btn {
		min-width: 80%;
		margin: 4% auto;
	}
	

}

/* Desktop Viewport */
@media screen and (min-width: 769px) {

	header img {
		float: left;
	}
	
	nav ul {
		width: 40%;
		padding-left: 20px;
	}

	h2 {
	font-size: 2em;
	}
	
	#buttonSelect .btn {
		min-width: 50%;
		margin: 2% auto;
	}
	
}