main, head, body, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
    background-color: #363636;
}

main, header {
	background-color: #fff;
}

/*#container {
	display: flex;
 	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}*/

header {
    padding-bottom: 2%;
	padding-top: 2%;
	background-color: #fff;
}

header img {
    margin: 0 auto;
    max-width: 20%;
	display: block;
}

main {
	margin: 0 auto;
	padding: 2%;
	font-size: 1.15em; 
}

#bodBudj {
	text-align: center;
}

#bodBudj img {
	padding: 0 5%;
	max-width: 15%;
}

#bodBudj img {
	padding: 0 5%;
	max-width: 15%;
}

input[type="radio"]{
  margin: 0 3% 4% 3%;
}

#form {
	margin-top: 2%;
	padding: 2%;
}

.loginPage {
	display: block;
	margin: 2% 40%;
}

fieldset {
	margin-bottom: 2%;
	background-color: #f5f5f5;
}

label {
	display: block;
	padding-top: 3%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

nav {
	width: 100%;
}

nav ul {
	list-style-type: none;
	text-align: center;
	display: block;
}

nav li {
	margin: 5% auto;
	border-bottom: 1px solid #f5f5f5;
}

nav li a {
	font-size: 1.5em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
	color: #f5f5f5;
	font-size: 1.5em;
}

nav li:last-child {
	border-bottom: none;
}

#submit {
	margin: 0 auto;
	display: block;
	padding: 1% 2%;
	background-color: #296DAC;
	color: #F5F5F5;
	font-size: 1.5em;
}

.btn {
	border-radius: 12px;
	margin: 0 auto;
	padding: 1% 2%;
	background-color: #296DAC;
	color: #F5F5F5;
	font-size: 1.5em;
}

footer {
	background-color: #363636;
	width: 100%;
}

/*#lowSpace {
	position: absolute;
	bottom: 0;
}*/

footer p {
	color: #F5F5F5;
	font-size: 0.8em;
	text-align: center;
	padding: 3%;
}

/* Tablet Viewport */
@media screen and (min-width: 630px) {

	header {
		width: 100%;
	}

	nav ul {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 20px;
	}

	nav li {
		border-right: solid 5px #CBC3E3;
	}

	nav li a:hover {
		text-decoration: underline;
	}

	nav li:last-child {
		border-right: none;
	}

	.loginPage {
		display: block;
		margin: 2% 15%;
	}

	main {
		min-height: 0px;
	}
	
	#bodBudj img {
		max-width: 35%;
	}

	h2 {
		font-size: 1em;
	}
	

}

/* Desktop Viewport */
@media screen and (max-width: 769px) {

}