main, head, body, footer, header {
	margin: 0;
	padding: 2%;
}

header img {
	max-width: 30%;
}

nav {
	float: right;
	width: 70%;
}

nav ul {
	text-align: right;
}

footer {
	background-color: #363636;
}

footer p {
	color: #F5F5F5;
	font-size: 0.8em;
	text-align: center;
	padding: 0 1em;
}